/* font face */
$app-font-path:         '../fonts' !default;

$font-family-app:       "nunito" !default;
$font-weight-light:     300 !default;
$font-weight-regular:   400 !default;
$font-weight-medium:    500 !default;
$font-weight-bold:      700 !default;


@font-face {
    font-family: $font-family-app;
    font-style: normal;
    font-weight: $font-weight-light;
    src: local("Nunito Light"), local("Nunito-Light"),
         url("#{$app-font-path}/nunito-regular-webfont.woff2") format("woff2"),
         url("#{$app-font-path}/nunito-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: $font-family-app;
  font-style: normal;
  font-weight: $font-weight-regular;
  src: local("Nunito"), local("Nunito-Regular"),
       url("#{$app-font-path}/nunito-regular-webfont.woff2") format("woff2"),
       url("#{$app-font-path}/nunito-regular-webfont.woff") format("woff");
}

@font-face {
font-family: $font-family-app;
font-style: normal;
font-weight: $font-weight-medium;
src: local("Nunito Medium"), local("Nunito-Medium"),
     url("#{$app-font-path}/nunito-bold-webfont.woff2") format("woff2"),
     url("#{$app-font-path}/nunito-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: $font-family-app;
  font-style: normal;
  font-weight: $font-weight-bold;
  src: local("Nunito Bold"), local("Nunito-Bold"),
       url("#{$app-font-path}/nunito-bold-webfont.woff2") format("woff2"),
       url("#{$app-font-path}/nunito-bold-webfont.woff") format("woff");
}
